.qcont{
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    opacity: 0.8;
    width: 50%;
   height: 1080px;
   border-radius: 5pc;
}

body{
	background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/aaff30d3-826b-45df-a9c4-c79501a9b119/da0du91-9c1af1ae-d902-4830-9ccc-bba7fe5c2bdd.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2FhZmYzMGQzLTgyNmItNDVkZi1hOWM0LWM3OTUwMWE5YjExOVwvZGEwZHU5MS05YzFhZjFhZS1kOTAyLTQ4MzAtOWNjYy1iYmE3ZmU1YzJiZGQuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.-z73Ce4GMSdlTqnnRQohe08q2cLO3Gmr13EWScGbtRQ")
}

.q1
{
   width: 250px;
   height: 400px;
   background-color: #3281a8;
   opacity: 1;
   padding-bottom: 50px;
   padding-left: 40px;
   padding-right: 40px; 
   border-top-right-radius: 5pc
 	
}
 .q1 : hover
{
   width: 250px;
   height: 400px;
   background-color: white;
   opacity: 1;
   padding-bottom: 50px;
   padding-left: 40px;
   padding-right: 40px; 
   border-top-right-radius: 5pc
 	
}
.q2
{
   width: 250px;
   height: 400px;
   background-color: #3281a8;
   opacity: 1;
   padding-bottom: 50px;
   padding-left: 40px;
   padding-right: 40px; 
   border-top-right-radius: 5pc



}
.q3
{
   width: 250px;
   height: 400px;
   background-color: #3281a8;
   opacity: 1;
   padding-bottom: 50px;
   padding-left: 40px;
   padding-right: 40px; 
   border-top-right-radius: 5pc



}
.q4
{
   width: 250px;
   height: 400px;
   background-color: #3281a8;
   opacity: 1;
   padding-bottom: 50px;
   padding-left: 40px;
   padding-right: 40px; 
   border-top-right-radius: 5pc



}
.qs{
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
}