.qcont{
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    opacity: 0.8;
    width: 50%;
   height: 1080px;
   border-radius: 5pc;
}

body{
	
	background-image: url("https://wallpaperaccess.com/full/187161.jpg")
}

.q1
{
   width: 250px;
   height: 150px;
   background-color: #3281a8;
   opacity: 1;
   padding-bottom: 50px;
   padding-left: 40px;
   padding-right: 40px; 
   border-top-right-radius: 5pc
 	
}
 .q1 : hover
{
   width: 250px;
   height: 150px;
   background-color: white;
   opacity: 1;
   padding-bottom: 50px;
   padding-left: 40px;
   padding-right: 40px; 
   border-top-right-radius: 5pc
 	
}
.q2
{
   width: 250px;
   height: 150px;
   background-color: #3281a8;
   opacity: 1;
   padding-bottom: 50px;
   padding-left: 40px;
   padding-right: 40px; 
   border-top-right-radius: 5pc



}
.q3
{
   width: 250px;
   height: 150px;
   background-color: #3281a8;
   opacity: 1;
   padding-bottom: 50px;
   padding-left: 40px;
   padding-right: 40px; 
   border-top-right-radius: 5pc



}
.q4
{
   width: 250px;
   height: 150px;
   background-color: #3281a8;
   opacity: 1;
   padding-bottom: 50px;
   padding-left: 40px;
   padding-right: 40px; 
   border-top-right-radius: 5pc



}
.qs{
	margin-left: auto;
	margin-right: auto;
	
}

.question
{
   width: 600px;
   height: 550px;
   background-color: #3281a8;
   opacity: 1;
   padding-bottom: 50px;
   padding-left: 40px;
   padding-right: 40px; 
   border-radius: 2pc;
}
.question img {
	margin-left: auto;
	margin-right:auto ; 
	width: 500px;
   height: 150px;
   padding-top: 50px;
   padding-left: 50px; 
   border-radius: 1pc;
}
